@charset 'UTF-8';

body {
	background: black;
	color: white;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
	overflow-x: hidden;
}

p,h1,h2,h3,h4,h5,h6 {
	color: white;
	text-align: justify;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

a {
	color: firebrick;
	text-decoration: none;
}

img {
	-webkit-filter: grayscale(100%); /*Safari 6.0 - 9.0*/
    filter: grayscale(100%);
	filter: invert();
}

table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
	border: 0.5px solid white;
	padding: 10px;
}
