@charset 'UTF-8';

body {
	background: black;
	color: white;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
	overflow-x: hidden;
}

p,h1,h2,h3,h4,h5,h6 {
	color: white;
	text-align: justify;
	overflow-wrap: break-word;
  	word-wrap: break-word;
}

a {
	color: firebrick;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	-webkit-filter: grayscale(1); /*Safari 6.0 - 9.0*/
    filter: grayscale(1);
	width: 100%;
}

table {
	width:100%;
	border-collapse: collapse;
	table-layout:fixed;
}

td {
	vertical-align: top;
	border: 1.0px solid white;
	padding: 10px;
}
