@charset 'UTF-8';

body {
	background: white;
	color: gray;
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	margin: 15px;
	padding: 15px;
	overflow-x: hidden;
}

div.container {
	max-width: 500px;
	width: device-width;
	display: block;
	float: left;
	border: 1px solid gray;
	padding: 15px;
}

p,h1,h2,h3,h4,h5,h6,a {
	color: gray;
	text-align: justify;
	overflow-wrap: break-word;
	text-decoration: none;
  	word-wrap: break-word;
}

img {
	
}
